---
import Section from "./Section.astro"
import { TECHNOLOGIES } from "../constants/technologies"
import Pill from "./Pill.astro"
const PROJECTS = [
	{
		name: "Somos Crespo",
		description: [
			"Desarrollada para el concurso Desarrollo de App creado por la Municipalidad de Crespo; es una herramienta innovadora que facilita la interacción entre los crespenses y el gobierno local.",
			"Está diseñada para que cada vecino pueda enviar solicitudes o quejas de manera eficiente y sin complicaciones, consultar el estado de los reclamos, acceder a información útil sobre servicios municipales y estar al tanto de las acciones y proyectos que lleva a cabo la Municipalidad.",
		],
		technologies: [TECHNOLOGIES.JS, TECHNOLOGIES.React, TECHNOLOGIES.Tailwind, TECHNOLOGIES.Git],
		linkToCode: "https://github.com/nicolasrodriguez3/crespo-app",
		video: null,
		deployedSite: null,
		images: [
			"/somos-crespo-1.webp",
			"/somos-crespo-2.webp",
			"/somos-crespo-3.webp",
			"/somos-crespo-4.webp",
		],
	},
	{
		name: "ViajesDev",
		description: [
			"Proyecto final del tercer tramo del curso Desarrollador Web FullStack de Epica Educativa, se trata de una plataforma donde los usuarios pueden compartir fotos y experiencias de viajes",
			"Permite ver las publicaciones de otras personas, y registrarse para poder crear publicaciones o comentar la de los demas.",
		],
		technologies: [
			TECHNOLOGIES.React,
			TECHNOLOGIES.Node,
			TECHNOLOGIES.Express,
			TECHNOLOGIES.MongoDB,
			TECHNOLOGIES.Tailwind,
			TECHNOLOGIES.Git,
		],
		linkToCode: "https://github.com/nicolasrodriguez3/crespo-app",
		video: null,
		deployedSite: null,
		images: ["/somos-crespo-2.webp"],
	},
	{
		name: "La Nerd Shop",
		description: [
			"Landing page bajo la temática geek y nerd, con un diseño moderno, colorido y divertido, que refleja la personalidad de la marca. El objetivo fue construir un sitio en React que pueda, en el futuro, evolucionar como e-commerce.",
		],
		technologies: [
			TECHNOLOGIES.React,
			TECHNOLOGIES.Node,
			TECHNOLOGIES.Express,
			TECHNOLOGIES.MongoDB,
			TECHNOLOGIES.Tailwind,
			TECHNOLOGIES.Git,
		],
		linkToCode: "https://github.com/nicolasrodriguez3/crespo-app",
		video: null,
		deployedSite: null,
		images: ["/somos-crespo-3.webp"],
	},
]
---

<Section title="Proyectos">
	<div class="grid grid-cols-1 gap-8 py-8">
		{
			PROJECTS.map((project) => (
				<div class="rounded-lg border bg-card text-card-foreground shadow-sm overflow-hidden group">
					<img
						src={project.images[0]}
						alt={`Captura de pantalla de ${project.name}`}
						class="w-full group-hover:scale-105 transition-transform duration-300"
						width="300"
						height="200"
						style="aspect-ratio: 300 / 200; object-fit: cover;"
					/>
					<div class="flex flex-wrap items-start gap-2 p-6">
						{project.technologies.map(({ name, className }) => (
							<Pill class={className}>{name}</Pill>
						))}
					</div>
					<header class="px-6">
						<h3 class="text-2xl font-bold">{project.name}</h3>
					</header>
					<div class="p-6">
						<div class="dark:text-white/80 text-gray-900 flex flex-col gap-2">
							{project.description.map((paragraph) => (
								<p>{paragraph}</p>
							))}
						</div>
						<a
							href={project.linkToCode}
							target="_blank"
							rel="noreferer noopener"
							class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 mt-4 hover:bg-sky-200 dark:hover:bg-sky-800">
							Ver código
						</a>
					</div>
				</div>
			))
		}
	</div>
</Section>
